<mat-toolbar id="headr">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>
        
      </mat-icon>
    </button>
        <div class="menu">
            <div class="leftmenu">
                <h4> DIGITAL & TECH </h4>
            </div>
            <div class="rightmenu">
                <ul>
                    <li id="firstlist">Home</li>
                    <li>Catalogo</li>
                    <li>Contacanos</li>
                    <li>Mas</li>
                </ul>
            </div>
        </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <a id="firstlist">Home</a>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <a id="firstlist">Catalogo</a>
    </button>
  </mat-toolbar>